.body{
  background-color:#3b5d50;
  height: 600px;
}
.navbar-brand{
  color: white;
  font-size: 30px;
  padding-left: 100px;
}
.span{
  color: rgba(255, 255, 255, 0.5) 
}
.navbar-nav{
display: flex;
float: right;
margin-right:200px;
color: rgba(255, 255, 255, 0.5)

}
.nav-items{
  margin-right: 50px;
  list-style: none;
  font-size: 15px;
  color: white;
  border-bottom: yellow 5px solid;
  padding-bottom: 10px;
}
.nav-item{
  margin-right: 50px;
 list-style: none;
 font-size: 15px;
 
}
.nav-item:hover{
  color: white;
  border-bottom: yellow 5px solid;
  padding-bottom: 10px;
}
.collapse{
  padding-top: 30px;
}
p{
  color: rgba(255, 255, 255, 0.5);
  margin-left: 100px;
  font-size: 16px;
}
.modern{
  width:600px;
  font-size: 20px;
}
h1{
  margin-left: 100px;
  margin-top: 120px;
  color: white;
  width: 400px;
}
.button{
  margin-left: 100px;
}
.One{
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: yellow;
  font-size: 15px;
  border-style: none;
  font-weight: 700;
}
.Two{
  width: 120px;
  height: 50px;
  border-radius: 50px;
  font-size: 15px;
  background-color:#3b5d50 ;
  color: white;
  font-weight: 700;
  margin-left: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none;
}
.Two:hover{
  border-color: white;
}